name: Benchmarks

on:
  schedule:
    # Every day at 2am
    - cron: '0 2 * * *'
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**.py'
      - '.github/workflows/benchmark.yaml'
      - 'pyproject.toml'
      - 'setup.py'
      - 'benchmarks/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          uv pip install -r requirements-benchmark.txt

      - name: Install package
        run: |
          uv pip install -e .

      - name: Run benchmarks
        run: |
          python -m pytest benchmarks --codspeed
        env:
          CODSPEED_TOKEN: ${{ secrets.CODSPEED_TOKEN }}

      - name: Generate benchmark markdown
        run: |
          python scripts/benchmark/generate_benchmark_markdown.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add benchmarks/results
          git commit -m "Update benchmark results"
          git push
